@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');


.app-container {
    font-family: "Passions Conflict", cursive;
    
    margin: 5em;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
  }
  
  .app-header {
    text-align: center;
    padding: 2rem;
    background: #fdcde1;
    color: white;
  }
  
  .app-header h1 {
    margin: 0;
    font-size: 5rem;
    
  }
  
  .app-header p {
    margin: 0.5rem 0 0;
    color: #ecf0f1;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .player {
    align-items: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .app-header h1 {
      font-size: 2rem;
    }
  
    .content {
      padding: 1rem;
    }
  }